*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*박스 영역은 테두리까지 지정*/
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
#container{
    margin-left: 10px;
    width: 1015px; /*너비 지정*/
}



/*헤더*/
header{
    position: relative;
    width: 20%;
    height: 650px;
    background-color: rgba(193, 190, 190, 0.932);
    float: left;
    margin-right: 10px;
}
#logo{  /*로고*/
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
nav{    /*네브*/
    float: top;
    width: 100%;
    height: 180px;
    background-color: green;
    overflow: hidden; /*영역 넘치면 감춤*/
}

/*이미지 슬라이드 쇼*/
#slideShow{
    float: right;
    position: relative;
    width: 800px;
    height: 350px;
    overflow: hidden;
}
#slideShow a{
    position: absolute;
    transition: all 1s;
}
.imgtext{
    position: absolute;
    top: 40%;
    left: 40%;
}

/*콘텐츠*/
#contents{
    float: right;
    display: flex;
    margin-top: 10x;
    width: 800px;
    height: 220px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}


#contents > div > a {
    color: rgb(47, 46, 48);
    border: 1px solid #dddddd;
}
/*공지사항*/
#notice{
    float: left;
    flex: 1;
    height: 100%;
    margin-top: 15px;
    margin-right: 10px;
}
#notice > a{
    background-color: #ff5454;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.notice > ul {
    margin-top: 6px;
    border: 1px solid #dddddd;
}
.notice ul li{
    padding: 12px;
    font-size: 13px;
}
.notice > ul > li > a> span {float: right;}
.notice > ul > li:nth-child(even){background-color:#ededed;}
/*갤러리*/
#gallery{
    float: left;
    flex: 1;
    height: 100%;
    margin-top: 15px;
    margin-right: 10px;
}
#gallery > a{
    background-color: #ff5454;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.gallery ul{
    display: flex;
    justify-content: space-around; /*가로 간격 일정*/
    align-items: center;
    height: 167.5px;
    margin-top: 6px;
    border: 1px solid #dddddd;
}


/*바로가기*/
#quicklink{
    float: left;
    flex: 1;
    height: 100%;
    background: url(/resources/Contents/direct/direct.jpg) no-repeat center;
}
.imgText{
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba(255, 112, 112, 0.8);
    font-weight: bold;
    font-size: 16px;
    margin: 90px 0px 0px 75px;
    padding: 5px 20px;
}




footer{
    float: right;
    width: 800px;
    height: 100px;
    background-color: rgba(125, 125, 125, 0.932);
}
#footlogo {
    width: 280px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    float: left;
    font-size: 17px;
    color: rgba(93, 93, 93, 0.932);
}
#copy{
    float: left;
    color: white;
    height: 100px;
    width: 380px;
    padding-top: 38px;
    font-size: 14px;
}
#family select{
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-top: 28px;
}