*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*박스 영역은 테두리까지 지정*/
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
#container{
    margin-left: 10px;
    width: 1015px; /*너비 지정*/
}



/*헤더*/
header{
    position: relative;
    width: 20%;
    height: 650px;
    background-color: rgba(193, 190, 190, 0.932);
    float: left;
    margin-right: 10px;
}
#logo{  /*로고*/
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
nav{    /*네브*/
    float: top;
    width: 100%;
    height: 180px;
    background-color: green;
    overflow: hidden; /*영역 넘치면 감춤*/
}

/*이미지 슬라이드 쇼*/
#slideShow{
    float: right;
    position: relative;
    width: 800px;
    height: 340px;
    background-color: orange;
}
#slideShow a{
    position: absolute;
}
.imgtext{
    position: absolute;
    top: 40%;
    left: 40%;
}

/*콘텐츠*/
#contents{
    float: right;
    display: flex;
    margin-top: 15px;
    width: 800px;
    height: 205px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
#contents > div:nth-of-type(2){margin:0 10px;}

#contents > div > a {
    border: 1px solid #dddddd;
}
/*공지사항*/
#notice{
    float: left;
    flex: 1;
    height: 100%;
}
#notice > a{
    background-color: #ff5454;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.notice > ul {
    margin-top: 6px;
    border: 1px solid #dddddd;
}
.notice ul li{
    padding: 12px;
    font-size: 13px;
}
.notice > ul > li > a> span {float: right;}
.notice > ul > li:nth-child(even){background-color:#ededed;}
/*갤러리*/
#gallery{
    float: left;
    flex: 1;
    height: 100%;
}
#gallery > a{
    background-color: #ff5454;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.gallery ul{
    display: flex;
    justify-content: space-around; /*가로 간격 일정*/
    align-items: center;
    height: 170px;
    margin-top: 6px;
    border: 1px solid #dddddd;
}


/*바로가기*/
#quicklink{
    float: left;
    flex: 1;
    height: 100%;
    background-color: blue;
}


footer{
    float: right;
    width: 800px;
    height: 90px;
    background-color: yellow;
}